<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Application settings of Apollo CP -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Confirmit.CATI.Supervisor.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="secureAppSettings" type="System.Configuration.NameValueSectionHandler,system, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="confirmitSettings">
      <section name="SQLParameters" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection,Telerik.Reporting, Version=15.1.21.616, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <infragistics.web enableAppStyling="false" />
  <applicationSettings>
    <Confirmit.CATI.Supervisor.Core.Properties.Settings>
      <setting name="CallHistoryLoopId" serializeAs="String">
        <value>callhistoryinfo</value>
      </setting>
    </Confirmit.CATI.Supervisor.Core.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="100000" />
    <add key="DebugMode" value="true" />
    <!--If true, recording retrieval button in call management is hidden.-->
    <add key="HideRecordingRetrievalButton" value="false" />
    <!--If true, restricts IE popup menu.-->
    <add key="DisableIEPopupMenu" value="false" />
    <!--Defines a port used for SSL connections. On load balancer environment it may be different from default 443.-->
    <add key="SSLPort" value="81" />
    <!--Defines urls to confirmit keep session pages.-->
    <add key="ConfirmitKeepSessionAspxUrl" value="http://localhost/confirm/authoring/KeepSession.aspx" />
    <!--Parameters for Kibana logging-->
    <add key="Logging.Level" value="Info" />
    <add key="Logging.Path" value="c:\confirmit_logs" />
    <add key="Logging.MultiProcessLogging" value="True" />
	<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	<add key="aspnet:UseTaskFriendlySynchronizationContext" value="false" />
  </appSettings>
  <system.diagnostics>
    <sharedListeners>
      <add name="DatabaseTraceListener" type="Confirmit.CATI.Core.Logger.DatabaseTraceListener, Confirmit.CATI.Core" />
      <add name="KibanaTraceListener" type="Confirmit.CATI.Core.Logger.KibanaTraceListener, Confirmit.CATI.Core" />
    </sharedListeners>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="DatabaseTraceListener" />
        <add name="KibanaTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- Shared validationKey for ViewState in server farms -->
    <machineKey validation="SHA1" validationKey="DFD06FF3058574D6A2E7B592E33A80EDE007E596EE8A1754CC68ECE5B44EA9A8A7ABC3C53F0EA8BD90B26AE301977609F142578EF3EB1E05A592C92F354E3341" decryptionKey="FFEE834B2BB87C08D5CA27C65E0F2512B8EC3F0F3DAE0AFB" />
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="Infragistics4.Web.v15.2" />
        <add assembly="Infragistics4.WebUI.Shared.v15.2" />
        <add assembly="Infragistics4.WebUI.WebSchedule.v15.2" />
        <add assembly="Infragistics4.WebUI.WebScheduleDataProvider.v15.2" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <expressionBuilders>
        <add expressionPrefix="Title" type="Confirmit.CATI.Supervisor.Classes.ResourceExpressionBuilder" />
        <add expressionPrefix="CPResource" type="Confirmit.CATI.Supervisor.Classes.ResourceExpressionBuilder" />
      </expressionBuilders>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="RemoteOnly" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="None" />
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <!--BeginNotRedisSection-->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="120" />
    <!--EndNotRedisSection-->
    <!--BeginRedisSection
    <sessionState mode="Custom" cookieName="ConfirmitCati_CookieName" cookieless="false" timeout="120" customProvider="RedisSessionStateProvider">
      <providers>
        <clear />
        <add name="RedisSessionStateProvider"
          type="Microsoft.Web.Redis.RedisSessionStateProvider"
          connectionString="localhost,password=,ssl=False,abortConnect=False" />
      </providers>
    </sessionState>
    EndRedisSection-->
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpHandlers>
      <!--add verb="*" path="precompile.axd" type="metacomm.portal.web.test.Precompile, metacomm.portal.web.test" /-->
      <!-- Handlers used by Microsoft AXAJ -->
      <add type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=15.1.21.616, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*" />
    </httpHandlers>
    <httpModules>
      <!-- Modules used by Microsoft AJAX -->
    </httpModules>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Always">
      <controls>
        <!-- Prefix for Microsoft AJAX Extensions -->
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ACToolKit" />
        <!--  Prefixes for controls -->
        <add tagPrefix="controls" tagName="Grid" src="~/Controls/GeneralGrid.ascx" />
        <add tagPrefix="controls" tagName="DateTimeEdit" src="~/Controls/DateTimeEdit.ascx" />
        <add tagPrefix="controls" tagName="PersonsAndGroupsList" src="~/Persons/Controls/PersonsAndGroupsList.ascx" />
        <add tagPrefix="controls" tagName="DoubleListBox" src="~/Controls/DoubleListBox.ascx" />
        <add tagPrefix="controls" tagName="FilterAdd" src="~/Filter/Controls/FilterAdd.ascx" />
        <add tagPrefix="controls" tagName="FiltersList" src="~/Filter/Controls/FiltersList.ascx" />
        <add tagPrefix="controls" tagName="SurveysList" src="~/Surveys/Controls/SurveysList.ascx" />
        <add tagPrefix="controls" tagName="DropDownCheckBoxList" src="~/Controls/DropDownCheckBoxList.ascx" />
        <add tagPrefix="controls" tagName="ToggleSelector" src="~/Controls/ToggleSelector.ascx" />
        <add tagPrefix="controls" tagName="DateTimeRangeSelect" src="~/Controls/DateTimeRangeSelect.ascx" />
        <add tagPrefix="controls" tagName="ItsSelect" src="~/Controls/ItsSelect.ascx" />
        <add tagPrefix="controls" tagName="Dialog" src="~/Controls/Dialog.ascx" />
        <add tagPrefix="controls" tagName="VariablesTreeControl" src="~/Controls/VariablesTreeControl.ascx" />
        <add tagPrefix="controls" tagName="SurveysTreeControl" src="~/Controls/SurveysTreeControl.ascx" />
        <add tagPrefix="controls" tagName="PersonsTreeControl" src="~/Controls/PersonsTreeControl.ascx" />
        <add tagPrefix="controls" tagName="PersonsTreeWithAssignments" src="~/Controls/PersonsTreeWithAssignments.ascx" />
        <add tagPrefix="controls" tagName="SurveysTreeWithAssignments" src="~/Controls/SurveysTreeWithAssignments.ascx" />
        <add tagPrefix="controls" tagName="StateGroupsList" src="~/Controls/StateGroupsList.ascx" />
        <add tagPrefix="controls" tagName="SelectTaskChoicePermissions" src="~/Controls/SelectTaskChoicePermissions.ascx" />
        <add tagPrefix="controls" tagName="Hint" src="~/Controls/Hint.ascx" />
        <add tagPrefix="controls" tagName="DialerState" src="~/Controls/DialerState.ascx" />
        <add tagPrefix="controls" tagName="DialerParameters" src="~/Resources/Controls/DialerParameters.ascx" />
        <add tagPrefix="controls" tagName="GeneralToolbar" src="~/Controls/GeneralToolbar.ascx" />
        <add tagPrefix="controls" tagName="DoubleGrid" src="~/Controls/DoubleGrid/DoubleGrid.ascx" />
        <add tagPrefix="controls" tagName="AntiForgery" src="~/Controls/AntiForgery.ascx" />
        <!--  Prefixes for namespaces. -->
        <add tagPrefix="controls" namespace="Confirmit.CATI.Supervisor.ServerControls.Commands" assembly="Confirmit.CATI.Supervisor" />
        <add tagPrefix="controls" namespace="Confirmit.CATI.Supervisor.ServerControls.Confirmit" assembly="Confirmit.CATI.Supervisor" />
        <add tagPrefix="controls" namespace="Confirmit.CATI.Supervisor.ServerControls" assembly="Confirmit.CATI.Supervisor" />
        <add tagPrefix="iggrid" namespace="Infragistics.Web.UI.GridControls" assembly="Infragistics4.Web.v15.2" />
        <add tagPrefix="ig_sched" namespace="Infragistics.WebUI.WebSchedule" assembly="Infragistics4.WebUI.WebSchedule.v15.2" />
        <add tagPrefix="ig_scheduledata" namespace="Infragistics.WebUI.Data" assembly="Infragistics4.WebUI.WebScheduleDataProvider.v15.2" />
        <add tagPrefix="ig_layout" namespace="Infragistics.Web.UI.LayoutControls" assembly="Infragistics4.Web.v15.2" />
        <add tagPrefix="tlr" namespace="Telerik.ReportViewer.WebForms" assembly="Telerik.ReportViewer.WebForms" />
      </controls>
    </pages>
    <httpRuntime maxRequestLength="10000" targetFramework="4.7.2" />
  </system.web>
  <!-- Some settings used by Microsoft AJAX-->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Origin-Agent-Cluster" value="?0" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="HealthzHandler" verb="*" path="healthz/*" type="Confirmit.CATI.Supervisor.HealthzHandler" preCondition="integratedMode" />
      <add name="PrometheusMetricsHandler" verb="*" path="metrics" type="Confirmit.CATI.Supervisor.PrometheusMetricsHandler" preCondition="integratedMode" />
      <add name="Telerik.ReportViewer.axd_*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=15.1.21.616, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>
  <location path="YuiCombo.ashx">
    <system.web>
      <httpRuntime maxUrlLength="2048" />
    </system.web>
  </location>
  <location path="ErrorPage.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Persons/Import.aspx">
    <system.web>
      <httpRuntime maxRequestLength="10000" executionTimeout="1200" />
    </system.web>
  </location>
  <location path="CallManagement/CallManagement.aspx">
    <system.web>
      <httpRuntime executionTimeout="300" />
    </system.web>
  </location>
  <location path="Surveys">
    <system.web>
      <authorization>
        <allow roles="SurveyManagement" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Filter">
    <system.web>
      <authorization>
        <allow roles="SurveyManagement" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CallManagement">
    <system.web>
      <authorization>
        <allow roles="SurveyManagement" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Persons">
    <system.web>
      <authorization>
        <allow roles="InterviewerManagement" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomTimezone">
    <system.web>
      <authorization>
        <allow roles="Resources" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Resources">
    <system.web>
      <authorization>
        <allow roles="Resources" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Resources/SiteSettings.aspx">
    <system.web>
      <authorization>
        <allow roles="CatiAdministratorOrPros" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Resources/SystemSettings.aspx">
    <system.web>
      <authorization>
        <allow roles="Pros" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Resources/SystemSettingsEdit.aspx">
    <system.web>
      <pages validateRequest="false" />
      <httpRuntime requestValidationMode="2.0" />
      <authorization>
        <allow roles="Pros" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Resources/DbUpdateLog.aspx">
    <system.web>
      <authorization>
        <allow roles="Pros" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Resources/DbUpdateLogProperties.aspx">
    <system.web>
      <authorization>
        <allow roles="Pros" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Script">
    <system.web>
      <authorization>
        <allow roles="Scheduling" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports">
    <system.web>
      <authorization>
        <allow roles="Reports" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/ProductivityReport.aspx">
    <system.web>
      <authorization>
        <allow roles="ProductivityReport, Reports" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ActivityViews">
    <system.web>
      <httpRuntime executionTimeout="30" />
      <authorization>
        <allow roles="ActvivityViews" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Records">
    <system.web>
      <authorization>
        <allow roles="RecordedInterviews" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Messaging">
    <system.web>
      <authorization>
        <allow roles="SurveyManagement, InterviewerManagement, ActvivityViews" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CallManagement/Controls/CustomViewProperties.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="Script/ScriptViewTabs/ScriptViewCustom.aspx">
	  <system.web>
		  <httpRuntime requestValidationMode="2.0" />
	  </system.web>
  </location>
  <!--Section for work with Supervisor WCF service.
      It is used inside that assembly to redirect some of method calls from IIS to backend service.-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="InternalService_BasicHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="5242880" maxArrayLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="SupervisorServiceEndpoint" address="http://localhost/SupervisorMultimodeInstance" binding="basicHttpBinding" bindingConfiguration="InternalService_BasicHttpBinding" contract="Confirmit.CATI.Core.SupervisorService.ISupervisorService" />
    </client>
  </system.serviceModel>
  <Telerik.Reporting>
    <Cache provider="ADO.NET">
      <Providers>
        <Provider name="ADO.NET">
          <Parameters>
            <Parameter name="ProviderName" value="System.Data.SqlClient" />
            <Parameter name="ConnectionString" value="Data Source=localhost;Initial Catalog=ConfirmitCATIV15;User ID=sa;Password=firm;Connect Timeout=120" />
          </Parameters>
        </Provider>
      </Providers>
    </Cache>
  </Telerik.Reporting>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Logging" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Rest" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Identity.Sdk" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="confirmit.common" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Configuration" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-27.0.0.0" newVersion="27.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Configuration.Bootstrap" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.DataServices.RDataAccess" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-29.0.0.0" newVersion="29.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Security.Crypto" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-24.0.0.0" newVersion="24.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.25.0" newVersion="3.1.25.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.RateLimiting" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prometheus.NetStandard" publicKeyToken="a243e9817ba9d559" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <confirmitSettings>
    <SQLParameters>
      <add key="applicationName" value="Confirmit.Cati.Supervisor" />
    </SQLParameters>
  </confirmitSettings>
  <secureAppSettings>
    <add key="TrustedSubsystem.ClientId" value="Confirmit.CATI.Service" />
    <add key="TrustedSubsystem.ClientSecret" value="xGv77bEsYw7AoyVmxpgCITFMMhrVWgmPC3up/bdJlFU=" />
    <add key="CustomGrant.ClientId" value="Confirmit.CatiSupervisor.Service" />
    <add key="CustomGrant.ClientSecret" value="ixN5QgiIPh6skT7X6binsdb1uV/BJW466BNygrmS/4Y=" />
  </secureAppSettings>
</configuration>
