<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings/>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
    <targets>

      <!-- The 'asyncFile' target is used in the TestPossibleCallsToNLoggerWithSynchTarget_NoExceptionsTrown() test -->
      <target name="syncFile" xsi:type="File" keepFileOpen="false" fileName="DialerCommon.UnitTests.SyncLogging_${gdc:LogFileStartTime}.log">
        <layout xsi:type="CSVLayout" delimiter="Tab">
          <column name="logger" layout="${logger}"/>
          <column name="level" layout="${level:uppercase=true}"/>
          <column name="date" layout="${longdate}"/>
          <column name="message" layout="${message}"/>
        </layout>
      </target>

      <!-- The 'asyncFile' target is used in the TestPossibleCallsToNLoggerWithAsynchTarget_NoExceptionsTrown() test -->
      <target name="asyncFile" xsi:type="AsyncWrapper" TimeToSleepBetweenBatches="10">
        <target name="" xsi:type="File" keepFileOpen="false" fileName="DialerCommon.UnitTests.AsyncLogging_${gdc:LogFileStartTime}.log">
        <layout xsi:type="CSVLayout" delimiter="Tab">
          <column name="logger" layout="${logger}"/>
          <column name="level" layout="${level:uppercase=true}"/>
          <column name="date" layout="${longdate}"/>
          <column name="message" layout="${message}"/>
        </layout>
        </target>
      </target>
    </targets>
    
    <rules>
      <logger name="TestSyncTarget" minlevel="Trace" writeTo="syncFile"/>
      <logger name="TestAsyncTarget" minlevel="Trace" writeTo="asyncFile"/>
    </rules>
  </nlog>

  <system.diagnostics>
    <switches>
      <!-- Note: You can turn tracing to file off by setting DialerCommunicationSwitch value to "Off"-->
      <add name="DialerCommunicationSwitch" value="Verbose"/>
    </switches>

    <sources>
      <source name="DialerCommonTest" switchName="DialerCommunicationSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DialerLogFileListener"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="DialerLogFileListener" type="DialerCommon.TextToLogFileTraceListener, DialerCommon" LoggingPath=".\" LoggingFileName="DialerCommonTest.log"/>
    </sharedListeners>

    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="DialerLogFileListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.10.0.0" newVersion="6.10.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.10.0.0" newVersion="6.10.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.10.0.0" newVersion="6.10.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Logging" publicKeyToken="8134450e5a05c0c1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Common" publicKeyToken="8134450e5a05c0c1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Polly" publicKeyToken="c8a3ffc3f8f825cc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Rest.ClientRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
