<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Confirmit.CATI.Telephony.PROTSDialerService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Confirmit.CATI.Telephony.DialerService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <Confirmit.CATI.Telephony.PROTSDialerService.Settings>
      <setting name="keepaliveOnOff" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="keepaliveTimeout" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="keepaliveInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ServiceStateExpirationTimeout" serializeAs="String">
        <value>200</value>
      </setting>
    </Confirmit.CATI.Telephony.PROTSDialerService.Settings>

    <Confirmit.CATI.Telephony.DialerService.Settings>
      <setting name="DialerDriverAssemblyName" serializeAs="String">
        <value>ProtsDialerDriver</value>
      </setting>
      <setting name="DialerDriverAssemblyNamespace" serializeAs="String">
        <value>Confirmit.CATI.Telephony.ProtsDialerDriver</value>
      </setting>
      <setting name="DialerDriverAssemblyMainClassName" serializeAs="String">
        <value>ProtsDialerDriver</value>
      </setting>
    </Confirmit.CATI.Telephony.DialerService.Settings>
  </applicationSettings>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="c:\logs\verbose.svclog" type="System.Diagnostics.XmlWriterTraceListener"
            name="messages1">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="c:\logs\messages.svclog" type="System.Diagnostics.XmlWriterTraceListener"
            name="messages">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add type="System.Diagnostics.ConsoleTraceListener" name="consoleTraceListener">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>

  <system.serviceModel>
    <client>
      <endpoint
    name="BvTciDialerServiceEndpoint"
    address="http://localhost/BvTciDialerWS"
    binding="basicHttpBinding"
    contract="BvTciDialerService.ServiceLibrary.Contract.IBvTciDialer"/>

      <endpoint
    name="PROTSDialerServiceEndpoint"
    address="http://localhost/Temporary_Listen_Addresses/TestDialerService"
    binding="basicHttpBinding"
    contract="Confirmit.CATI.Telephony.PROTSDialerService.IPROTSDialerService"/>

      <endpoint
    name="DialerServiceEndpoint"
    address="http://localhost/Temporary_Listen_Addresses/TestDialerService"
    binding="basicHttpBinding"
    contract="Confirmit.CATI.Telephony.DialerService.Contract.IDialerService"/>

      <endpoint
    name="DialerEventsHandlerServiceEndpoint"
    address="http://localhost/Temporary_Listen_Addresses/TestEventsHandlerService"
    binding="basicHttpBinding"
    contract="Confirmit.CATI.Telephony.DialerCommon.IDialerEventsHandlerService"/>
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="DialerServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service
  name="BvTciDialerService.ServiceLibrary.BvTciDialer">
        <endpoint
   address=""
   binding="basicHttpBinding"
   contract="BvTciDialerService.ServiceLibrary.Contract.IBvTciDialer"/>
      </service>
      <service
  name="DialerIntegrationTests.Framework.TestDialerEventsHandlerService">
        <endpoint
   address=""
   binding="basicHttpBinding"
   contract="Confirmit.CATI.Telephony.DialerCommon.IDialerEventsHandlerService"/>
      </service>
      <service
  name="Confirmit.CATI.Telephony.PROTSDialerService.PROTSDialerService">
        <endpoint
   address=""
   binding="basicHttpBinding"
   contract="Confirmit.CATI.Telephony.PROTSDialerService.IPROTSDialerService"/>
      </service>
      
      <service
        name="Confirmit.CATI.Telephony.DialerService.DialerService"
        behaviorConfiguration="DialerServiceBehavior">
        
        <endpoint
   address=""
   binding="basicHttpBinding"
   contract="Confirmit.CATI.Telephony.DialerService.Contract.IDialerService"/>

        <!--<endpoint
  address="mex"
  binding="mexHttpBinding"
  contract="IMetadataExchange" >
        </endpoint>-->

      </service>
    </services>

    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="3000" maxSizeOfMessageToLog="2000" />
      <endToEndTracing propagateActivity="true" messageFlowTracing="true" />
    </diagnostics>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
