<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MnTciLibrary.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Confirmit.CATI.Backend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="DialersConfiguration" type="System.Configuration.ClientSettingsSection, Confirmit.CATI.Backend" />

        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

        <section name="secureAppSettings" type="System.Configuration.NameValueSectionHandler,system, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
        <sectionGroup name="confirmitSettings">
            <section name="SQLParameters" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
        <sectionGroup name="system.data.dataset.serialization" type="System.Data.SerializationSettingsSectionGroup, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="allowedTypes" type="System.Data.AllowedTypesSectionHandler, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <system.data.dataset.serialization>
        <allowedTypes>
            <add type="Microsoft.SqlServer.Types.SqlGeography, Microsoft.SqlServer.Types, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </allowedTypes>
    </system.data.dataset.serialization>
    <applicationSettings>
        <Confirmit.CATI.Backend.Properties.Settings>
            <!--
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
              //    WCF External Services Base Addresses Configuration when SSL Accelerator is Installed.
              //    In that case we always receive HTTP.
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            -->
            <!--UseSSLAccelerator_Part1_Begin-->
            <!--
            <setting name="DialerEventsHandlerServiceBaseAddress" serializeAs="String">
              <value>http://localhost:81/DialerMultimodeInstance</value>
            </setting>
            <setting name="ErrorReportingServiceBaseAddress" serializeAs="String">
              <value>http://localhost:81/ErrorReportingMultimodeInstance</value>
            </setting>
            -->
            <!--UseSSLAccelerator_Part1_End-->
            <!--
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
              //    WCF External Services Base Addresses Configuration when SSL Accelerator is NOT Installed.
              //    In that case we always receive HTTPS.
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            -->
            <!--Don'tUseSSLAccelerator_Part1_Begin-->
            <setting name="DialerEventsHandlerServiceBaseAddress" serializeAs="String">
                <value>https://localhost/DialerMultimodeInstance</value>
            </setting>
            <setting name="ErrorReportingServiceBaseAddress" serializeAs="String">
                <value>https://localhost/ErrorReportingMultimodeInstance</value>
            </setting>
            <setting name="AreMetricsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MetricsUrl" serializeAs="String">
                <value>http://*:9866</value>
            </setting>
            <!--Don'tUseSSLAccelerator_Part1_End-->
            <!--
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
              //    WCF Internal Services and ConsoleStateService Base Addresses Configuration. Not depends on SSL Accelerator.
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            -->
            <setting name="InstanceManagementServiceBaseAddress" serializeAs="String">
                <value>http://localhost/ManagementMultimodeInstance</value>
            </setting>
            <setting name="ManagementServiceBaseAddress" serializeAs="String">
                <value>http://localhost/ManagementMultimodeInstance</value>
            </setting>
            <setting name="SupervisorServiceBaseAddress" serializeAs="String">
                <value>http://localhost/SupervisorMultimodeInstance</value>
            </setting>
            <setting name="ErrorReportingInternalServiceBaseAddress" serializeAs="String">
                <value>http://cati-backend-master/ErrorReportingMultimodeInstanceHttp</value>
            </setting>
            <setting name="DialerEventsHandlerInternalServiceBaseAddress" serializeAs="String">
                <value>http://cati-backend-{companyId}/DialerMultimodeInstanceHttp</value>
            </setting>
        </Confirmit.CATI.Backend.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
        <switches>
            <!-- Possible values:
                Off,
                Critical,
                Error,
                Warning,
                Information,
                Verbose
            -->
            <add name="DialerCommunicationSwitch" value="Warning" />
        </switches>
        <sources>
            <source name="System.ServiceModel" switchValue="Warning">
                <listeners>
                    <add name="DatabaseTraceListener" />
                    <add name="KibanaTraceListener" />
                </listeners>
            </source>
            <source name="DialerLib" switchName="DialerCommunicationSwitch" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <remove name="Default" />
                    <add name="DatabaseTraceListener" />
                    <add name="KibanaTraceListener" />
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="DatabaseTraceListener" type="Confirmit.CATI.Core.Logger.DatabaseTraceListener, Confirmit.CATI.Core" />
            <add name="KibanaTraceListener" type="Confirmit.CATI.Core.Logger.KibanaTraceListener, Confirmit.CATI.Core" />
        </sharedListeners>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <remove name="Default" />
                <add name="DatabaseTraceListener" />
                <add name="KibanaTraceListener" />
            </listeners>
        </trace>
    </system.diagnostics>
    <system.net>
        <connectionManagement>
            <add address="*" maxconnection="4096" />
        </connectionManagement>
        <!-- Uncomment defaultProxy section to catch calls in fiddler (do not forget to run backend service by your user) -->
        <!--
        <defaultProxy>
          <proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false" />
        </defaultProxy>
        -->
    </system.net>
    <!--WCF configurations section-->
    <system.serviceModel>
        <diagnostics>
            <messageLogging logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" logEntireMessage="false" />
        </diagnostics>
        <extensions>
            <bindingElementExtensions>
                <add name="httpsViaProxyTransport" type="Confirmit.CATI.Common.WcfTools.PseudoHttpsTransport.PseudoHttpsTransportElement, Confirmit.CATI.Common" />
            </bindingElementExtensions>
        </extensions>
        <services>
            <!--
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
              // WCF External Services Configuration when SSL Accelerator is INSTALLED.
              // In that case we always receive HTTP and must use custom transport and custom binding aka PseudoHttpsBinding.
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            -->
            <!--UseSSLAccelerator_Part2_Begin-->
            <!--
      
            <service
              name="Confirmit.CATI.Backend.WcfServices.External.DialerEventsHandlerService.DialerEventsHandlerService"
              behaviorConfiguration="ServiceBehavior_WithExceptionDetails">
              <endpoint
                address=""
                binding="customBinding"
                bindingConfiguration="ExternalCatiService_PseudoHttpsBinding_NoSecurity"
                contract="Confirmit.CATI.Telephony.DialerCommon.IDialerEventsHandlerService" >
              </endpoint>
            </service>
            
            <service
              name="Confirmit.CATI.Backend.WcfServices.External.ErrorReportingService.ErrorReportingService"
              behaviorConfiguration="ServiceBehavior_WithoutExceptionDetails">
              <endpoint
                address=""
                binding="customBinding"
                bindingConfiguration="ExternalCatiService_PseudoHttpsBinding_NoSecurity"
                contract="Confirmit.CATI.Common.Contracts.ErrorReportingService.IErrorReportingService" >
              </endpoint>
            </service>
            
            -->
            <!--UseSSLAccelerator_Part2_End-->
            <!--
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
              //          WCF External Services Configuration when SSL Accelerator is NOT INSTALLED 
              //          In that case we always receive HTTPS and and must use wsHttpBinding.
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            -->
            <!--Don'tUseSSLAccelerator_Part2_Begin-->
            <service name="Confirmit.CATI.Backend.WcfServices.External.DialerEventsHandlerService.DialerEventsHandlerService" behaviorConfiguration="ServiceBehavior_WithExceptionDetails">
                <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ExternalCatiService_WsHttpBinding_TransportSecurity" contract="Confirmit.CATI.Telephony.DialerCommon.IDialerEventsHandlerService"></endpoint>
            </service>
            <service name="Confirmit.CATI.Backend.WcfServices.External.ErrorReportingService.ErrorReportingService" behaviorConfiguration="ServiceBehavior_WithoutExceptionDetails">
                <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ExternalCatiService_WsHttpBinding_TransportSecurity" contract="Confirmit.CATI.Common.Contracts.ErrorReportingService.IErrorReportingService"></endpoint>
            </service>

            <!--Don'tUseSSLAccelerator_Part2_End-->
            <!--
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            //          WCF Internal Services and ConsoleStateService Configuration. Not depend on SSL Accelerator.
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            -->
            <service name="Confirmit.CATI.Backend.WcfServices.Internal.InstanceManagementService.InstanceManagementService" behaviorConfiguration="ServiceBehavior_WithExceptionDetails">
                <endpoint address="" binding="basicHttpBinding" contract="Confirmit.CATI.Core.ManagementService.IInstanceManagementService"></endpoint>
            </service>
            <service name="Confirmit.CATI.Backend.WcfServices.Internal.ManagementService.ManagementService" behaviorConfiguration="ServiceBehavior_WithExceptionDetails">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="InternalService_BasicHttpBinding" contract="Confirmit.CATI.Core.ManagementService.IManagementService"></endpoint>
            </service>
            <service name="Confirmit.CATI.Backend.WcfServices.Internal.SupervisorService.SupervisorService" behaviorConfiguration="ServiceBehavior_WithExceptionDetails">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="InternalService_BasicHttpBinding" contract="Confirmit.CATI.Core.SupervisorService.ISupervisorService"></endpoint>
            </service>
            <service name="Confirmit.CATI.Backend.WcfServices.External.DialerEventsHandlerService.DialerEventsHandlerServiceHttp" behaviorConfiguration="ServiceBehavior_WithExceptionDetails">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="InternalService_BasicHttpBinding" contract="Confirmit.CATI.Telephony.DialerCommon.IDialerEventsHandlerService"></endpoint>
            </service>
            <service name="Confirmit.CATI.Backend.WcfServices.External.ErrorReportingService.ErrorReportingServiceHttp" behaviorConfiguration="ServiceBehavior_WithoutExceptionDetails">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="InternalService_BasicHttpBinding" contract="Confirmit.CATI.Common.Contracts.ErrorReportingService.IErrorReportingService"></endpoint>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <!--
                  Used for the following WCF services:
                    1. IDialerEventsHandlerService
                    2. IInstanceManagementService
                    3. IManagementService
                    4. ISupervisorService
                    5. IErrorReportingServiceHttp
                    6. IDialerEventsHandlerServiceHttp
                -->
                <behavior name="ServiceBehavior_WithExceptionDetails">
                    <serviceMetadata httpGetEnabled="False" />
                    <serviceDebug includeExceptionDetailInFaults="True" />
                    <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
                </behavior>
                <!--
                  Used for the following WCF services:
                    1. IErrorReportingService
                    2. ISupervisorContract
                -->
                <behavior name="ServiceBehavior_WithoutExceptionDetails">
                    <serviceMetadata httpGetEnabled="False" />
                    <serviceDebug includeExceptionDetailInFaults="False" />
                    <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <customBinding>
                <!--
                //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                //                  WCF Client Bindings.
                //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                -->
                <!--
                  Must be used to call external for backend WCF services (services hosted outside backend).
                -->
                <binding name="ClientService_CustomBinding_NoSecurity">
                    <httpTransport keepAliveEnabled="False" maxReceivedMessageSize="2147483647" />
                </binding>
                <!--
                  Must be used to call external for backend WCF services (services hosted outside backend) that use RM.
                  E.g. PROTSDialerService.Contract.IPROTSDialerService
                -->
                <binding name="ClientService_CustomBinding_ReliableSession">
                    <reliableSession />
                    <httpTransport keepAliveEnabled="False" />
                </binding>
                <!--
                //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                //                  WCF External Services Bindings.
                //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                -->
                <!-- 
                  Must be used ONLY when SSL Accelerator is INSTALLED.
                  In this case we will always receive HTTP traffic.
                  Binding created for the following services:
                    1. ISupervisorContract
                  1048576 = 1024*1024 = 1mb
                -->
                <binding name="ExternalCatiService_HttpBinding_NoAuthentication">
                    <mtomMessageEncoding maxBufferSize="3145728">
                        <readerQuotas maxArrayLength="2147483647" maxStringContentLength="3145728" />
                    </mtomMessageEncoding>
                    <httpTransport keepAliveEnabled="False" maxReceivedMessageSize="3145728" />
                </binding>
                <!-- 
                  Must be used ONLY when SSL Accelerator is INSTALLED.
                  In this case we will always receive HTTP traffic.
                  Binding created for the following services:
                    1. IErrorReportingService
                  1048576 = 1024*1024 = 1mb
                -->
                <binding name="ExternalCatiService_PseudoHttpsBinding_NoSecurity">
                    <mtomMessageEncoding maxBufferSize="1048576">
                        <readerQuotas maxArrayLength="2147483647" maxStringContentLength="1048576" />
                    </mtomMessageEncoding>
                    <httpsViaProxyTransport keepAliveEnabled="False" />
                </binding>

                <binding name="DialerService_CustomBinding_TransportSecurity">
                    <mtomMessageEncoding maxBufferSize="1048576">
                        <readerQuotas maxArrayLength="2147483647" maxStringContentLength="1048576" />
                    </mtomMessageEncoding>
                    <httpsTransport keepAliveEnabled="False" maxReceivedMessageSize="2147483647" />
                </binding>
            </customBinding>
            <wsHttpBinding>
                <!-- 
                  Must be used ONLY when SSL Accelerator is NOT INSTALLED.
                  In this case we will always receive HTTPS traffic.
                  Binding created for the following services:
                    1. IDialerEventsHandlerService
                    2. IErrorReportingService
                    3. ISupervisorContract
                  
                  1048576 = 1024*1024 = 1mb
                -->
                <binding name="ExternalCatiService_WsHttpBinding_TransportSecurity" messageEncoding="Mtom" maxReceivedMessageSize="3145728">
                    <readerQuotas maxArrayLength="2147483647" maxStringContentLength="3145728" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
            <basicHttpBinding>
                <!--
                //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                //                  WCF Internal Services Bindings.
                //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                -->
                <!--
                  Management Operation could take a long time.
                  So, we should increate timeouts.
                  
                  TODO: Do we really need increase these timeouts? Especially closeTimeout/openTimeout ?
                -->
                <binding name="InternalService_BasicHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxStringContentLength="5242880" maxArrayLength="2147483647" maxDepth="128" />
                </binding>
            </basicHttpBinding>
            <basicHttpsBinding>
                <binding name="InternalService_BasicHttpsBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxStringContentLength="5242880" maxArrayLength="2147483647" maxDepth="128" />
                </binding>
            </basicHttpsBinding>
        </bindings>
        <client>
            <endpoint name="DialerServiceEndpointHttp" address="http://localhost/GenericDialerService" binding="customBinding" bindingConfiguration="ClientService_CustomBinding_NoSecurity" contract="Confirmit.CATI.Telephony.DialerService.Contract.IDialerService" />
            <endpoint name="DialerServiceEndpointHttps" address="https://localhost/GenericDialerService" binding="customBinding" bindingConfiguration="DialerService_CustomBinding_TransportSecurity" contract="Confirmit.CATI.Telephony.DialerService.Contract.IDialerService" />
        </client>
    </system.serviceModel>
    <system.web>
        <machineKey validation="SHA1" validationKey="DFD06FF3058574D6A2E7B592E33A80EDE007E596EE8A1754CC68ECE5B44EA9A8A7ABC3C53F0EA8BD90B26AE301977609F142578EF3EB1E05A592C92F354E3341" decryptionKey="FFEE834B2BB87C08D5CA27C65E0F2512B8EC3F0F3DAE0AFB" />
    </system.web>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="prometheus-net" publicKeyToken="a243e9817ba9d559" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.20.0.0" newVersion="7.20.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.20.0.0" newVersion="7.20.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.20.0.0" newVersion="7.20.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Confirmit.Logging" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Confirmit.Common" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Polly" publicKeyToken="c8a3ffc3f8f825cc" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Rest.ClientRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="IPAddressRange" publicKeyToken="578e3c3d17e7c751" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.0.1" newVersion="1.6.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Confirmit.Configuration" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-27.0.0.0" newVersion="27.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Confirmit.Configuration.Bootstrap" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Confirmit.DataServices.RDataAccess" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-29.0.0.0" newVersion="29.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Confirmit.Security.Crypto" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-24.0.0.0" newVersion="24.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="mscorlib" publicKeyToken="b77a5c561934e089" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
            </dependentAssembly>
	        <dependentAssembly>
	            <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
	            <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
	        </dependentAssembly>
	        <dependentAssembly>
	            <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	            <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
	        </dependentAssembly>
	        <dependentAssembly>
		        <assemblyIdentity name="System.Threading.RateLimiting" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
		        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
	        </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <secureAppSettings>
        <add key="TrustedSubsystem.ClientId" value="Confirmit.CATI.Service" />
        <add key="TrustedSubsystem.ClientSecret" value="xGv77bEsYw7AoyVmxpgCITFMMhrVWgmPC3up/bdJlFU=" />
    </secureAppSettings>
    <confirmitSettings>
        <SQLParameters>
            <add key="applicationName" value="Confirmit.Cati.Backend" />
        </SQLParameters>
    </confirmitSettings>
    <appSettings>
        <add key="Logging.Level" value="Info" />
        <add key="Logging.Path" value="c:\confirmit_logs" />
        <add key="Logging.MultiProcessLogging" value="True" />
    </appSettings>
</configuration>
