<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <compilation targetFramework="4.7.2" xdt:Transform="SetAttributes" />
		<httpRuntime targetFramework="4.7.2" xdt:Transform="InsertIfMissing" />
	</system.web>
    <configSections>
        <sectionGroup>
            <section name="SimulatorDialerDriver.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SimulatorDialerDriver.Settings xdt:Transform="InsertIfMissing">
          <setting name="WebApiUrl" serializeAs="String">
            <value>http://*:3838/catidialersimulator</value>
          </setting>
        </SimulatorDialerDriver.Settings>    
    </applicationSettings>    
    <system.diagnostics>
        <sources>
            <source>
                <listeners>
                    <add name="EventLogTraceListener" xdt:Transform="RemoveAll" xdt:Locator="Match(name)" />
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="EventLogTraceListener" xdt:Transform="Remove" xdt:Locator="Match(name)" />
            <add name="DialerLogFileListener" type="DialerCommon.TextToLogFileTraceListener, DialerCommon" LoggingPath="c:\DialerLogs\" LoggingFileName="LTUSimulator(G)WS_%datetime%.log" FileSizeLimit="100" xdt:Transform="Replace" xdt:Locator="Match(name)" />            
        </sharedListeners>
    </system.diagnostics>
</configuration>