<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="DatabaseUnitTesting" type="Microsoft.Data.Schema.UnitTesting.Configuration.DatabaseUnitTestingSection, Microsoft.Data.Schema.UnitTesting, Version=9.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="DialersConfiguration" type="System.Configuration.ClientSettingsSection, Confirmit.CATI.Backend" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Confirmit.CATI.IntegrationTests.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="confirmitSettings">
            <section name="SQLParameters" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Confirmit.CATI.IntegrationTests.Settings>
            <setting name="ServiceStopTimeout" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ServiceStartTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DefaultConnectionTimeout" serializeAs="String">
                <value>120</value>
            </setting>
        </Confirmit.CATI.IntegrationTests.Settings>
    </applicationSettings>
    <appSettings>
        <add key="DbBaseScript" value="..\Confirmit.CATI.Database.2012\Scripts\Base.Confirmit.CATI.Database.sql" />
        <add key="DbScript" value="Database\Confirmit.CATI.Database.sql" />
        <add key="ConfirmitSurveyBackupDbName" value="ConfirmitSurveyDb_Test" />
        <add key="DurationForMultiUserTests" value="10000" />
        <add key="MaxThreads" value="5" />
        <add key="SqlUser" value="sa" />
        <add key="SqlPassword" value="firm" />
        <add key="Logging.Level" value="Info" />
        <add key="Logging.Path" value="c:\confirmit_testlogs" />
        <add key="Logging.MultiProcessLogging" value="True" />
    </appSettings>
    <confirmitSettings>
      <SQLParameters>
        <add key="applicationName" value="Confirmit.Cati.IntegrationTests" />
      </SQLParameters>
    </confirmitSettings>
  
  <system.web>
    <machineKey validation="SHA1" validationKey="DFD06FF3058574D6A2E7B592E33A80EDE007E596EE8A1754CC68ECE5B44EA9A8A7ABC3C53F0EA8BD90B26AE301977609F142578EF3EB1E05A592C92F354E3341" decryptionKey="FFEE834B2BB87C08D5CA27C65E0F2512B8EC3F0F3DAE0AFB" />
  </system.web>
    
<!--
    <system.diagnostics>
        <sharedListeners>
            <add name="fileTraceListener"
                type="Confirmit.CATI.IntegrationTests.Logger.AsciiTextWriterTraceListener, Confirmit.CATI.IntegrationTests"
                initializeData="c:\!IntegrationTestsLog.txt"/>
        </sharedListeners>

        <trace useGlobalLock="false">
            <listeners>
                <add name="fileTraceListener" />
            </listeners>
        </trace>
    </system.diagnostics>
-->
    <!--
    Section for work with Confirmit.Cati.Core WCF service.
    It is used inside that assembly to redirect some of method calls to backend service.
    -->
    <system.serviceModel>
        <client>
			<endpoint name="SupervisorServiceEndpoint" address="http://localhost/SupervisorMultimodeInstance" binding="basicHttpBinding" contract="Confirmit.CATI.Core.SupervisorService.ISupervisorService" />
			<endpoint name="ManagementServiceEndpoint" address="http://localhost/ManagementMultimodeInstance" binding="basicHttpBinding" contract="Confirmit.CATI.Core.ManagementService.IManagementService">
            </endpoint>
			<endpoint name="InstanceManagementServiceEndpoint" address="http://localhost/ManagementMultimodeInstance" binding="basicHttpBinding" contract="Confirmit.CATI.Core.ManagementService.IInstanceManagementService">
            </endpoint>
        </client>
    </system.serviceModel>
  <!-- The folowing section is being used at instance creation in order to: -->
  <!-- define the dialer type -->
  <!-- obtain the dialer configuration parameters and put them into instance db. -->
  <!-- For the moment we consider that an instance can work with an only dialer of an only definite type. -->
  <DialersConfiguration>
    <!--Possible values for dialer type are: BvTCI, PROTS, NoDialler, Generic -->
    <DialerType>BvTCI</DialerType>
    <BvTCI>
      <DialerConnectionParameters>
        <HostNameOrIp>bvtcidialer</HostNameOrIp>
        <TcpPort>12345</TcpPort>
        <ServiceAddress>http://bvtcidialerwcf/BvTciDialerWS</ServiceAddress>
        <ServiceEndpoint>BvTciDialerServiceEndpoint</ServiceEndpoint>
      </DialerConnectionParameters>
      <DialerSurveyParameters>
        <DialerParameter>
          <Id>MaxRings</Id>
          <Name>No reply timeout (secs)</Name>
          <Value>45</Value>
          <Type>System.Int32</Type>
        </DialerParameter>
        <DialerParameter>
          <Id>TelephoneNumberPrefix</Id>
          <Name>Telephone number prefix</Name>
          <Value></Value>
          <Type>System.String</Type>
        </DialerParameter>
      </DialerSurveyParameters>
    </BvTCI>
    <PROTS>
      <DialerConnectionParameters>
        <HostNameOrIp>protsdialer</HostNameOrIp>
        <OutgoingTcpPort>1810</OutgoingTcpPort>
        <IncomingTcpPort>1811</IncomingTcpPort>
        <ServiceAddress>http://protsdialerwcf/PROTSDialerWS</ServiceAddress>
        <ServiceEndpoint>PROTSDialerServiceEndpoint</ServiceEndpoint>
        <OperationsTimeout>7000</OperationsTimeout>
      </DialerConnectionParameters>
      <DialerSurveyParameters>
        <DialerParameter>
          <Id>AbandonmentRate</Id>
          <Name>Nuisance call abandonment rate</Name>
          <Value>0</Value>
          <Type>System.Int32</Type>
        </DialerParameter>
        <DialerParameter>
          <Id>MaxRings</Id>
          <Name>No reply timeout (no. of rings)</Name>
          <Value>5</Value>
          <Type>System.Int32</Type>
        </DialerParameter>
        <DialerParameter>
          <Id>AnsMachineDetect</Id>
          <Name>Enable answer phone detection</Name>
          <Value>False</Value>
          <Type>System.Boolean</Type>
        </DialerParameter>
        <DialerParameter>
          <Id>AnsMachineAudioMessageUrl</Id>
          <Name>Answer Machine Audio Message URL</Name>
          <Type>System.String</Type>
          <Value></Value>
        </DialerParameter>
        <DialerParameter>
          <Id>BillingCode</Id>
          <Name>Billing Code</Name>
          <Value>0</Value>
          <Type>System.Int32</Type>
        </DialerParameter>
      </DialerSurveyParameters>
      <DialerConfigurationParameters>
        <RootDirectoryForAudioRecords>C:\DSM</RootDirectoryForAudioRecords>
      </DialerConfigurationParameters>
    </PROTS>
    <DialerType>Generic</DialerType>
    <Generic>
      <DialerConnectionParameters>
        <HostNameOrIp>Generic</HostNameOrIp>
        <TcpPort>1010</TcpPort>
        <ServiceAddress>http://generciwcf/GenericWS</ServiceAddress>
        <ServiceEndpoint>GenericDialerServiceEndpoint</ServiceEndpoint>
      </DialerConnectionParameters>
      <DialerSurveyParameters>
        <DialerParameter>
          <Id>MaxRings</Id>
          <Name>No reply timeout (secs)</Name>
          <Value>45</Value>
          <Type>System.Int32</Type>
        </DialerParameter>
        <DialerParameter>
          <Id>TelephoneNumberPrefix</Id>
          <Name>Telephone number prefix</Name>
          <Value></Value>
          <Type>System.String</Type>
        </DialerParameter>
      </DialerSurveyParameters>
    </Generic>
  </DialersConfiguration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.20.0.0" newVersion="7.20.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.20.0.0" newVersion="7.20.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.20.0.0" newVersion="7.20.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Logging" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Common" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Polly" publicKeyToken="c8a3ffc3f8f825cc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Rest.ClientRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IPAddressRange" publicKeyToken="578e3c3d17e7c751" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.1" newVersion="1.6.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
