<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Confirmit.CATI.Telephony.PROTSDialerService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Confirmit.CATI.Telephony.ProtsDialerDriver.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Confirmit.CATI.Telephony.DialerService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SimulatorDialerDriver.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <Confirmit.CATI.Telephony.PROTSDialerService.Settings>
      <setting name="keepaliveOnOff" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="keepaliveTimeout" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="keepaliveInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ServiceStateExpirationTimeout" serializeAs="String">
        <value>200</value>
      </setting>
    </Confirmit.CATI.Telephony.PROTSDialerService.Settings>

    <Confirmit.CATI.Telephony.ProtsDialerDriver.Settings>
      <setting name="keepaliveOnOff" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="keepaliveTimeout" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="keepaliveInterval" serializeAs="String">
        <value>5</value>
      </setting>
    </Confirmit.CATI.Telephony.ProtsDialerDriver.Settings>

    <Confirmit.CATI.Telephony.DialerService.Settings>
      <setting name="DialerDriverAssemblyName" serializeAs="String">
        <value>ProtsDialerDriver</value>
      </setting>
      <setting name="DialerDriverAssemblyNamespace" serializeAs="String">
        <value>Confirmit.CATI.Telephony.ProtsDialerDriver</value>
      </setting>
      <setting name="DialerDriverAssemblyMainClassName" serializeAs="String">
        <value>ProtsDialerDriver</value>
      </setting>
      <setting name="StatefulMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseAuthorization" serializeAs="String">
        <value>False</value>
      </setting>
    </Confirmit.CATI.Telephony.DialerService.Settings>
    
    <SimulatorDialerDriver.Settings>
      <setting name="ScenarioXmlFileName" serializeAs="String">
        <value>.\SimulatorScenario.xml</value>
      </setting>
      <setting name="StatefulMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupIdForRequestCalls" serializeAs="String">
        <value>0</value>
        <!-- if 0 then calls are requested by campaign, otherwise calls are selected by group id -->
      </setting>
      <setting name="EnablePerformanceCounters" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SendReturnedNotDialedOnSurveyClose" serializeAs="String">
        <value>True</value>
      </setting>
    </SimulatorDialerDriver.Settings>
  </applicationSettings>

  <system.diagnostics>
    
    <sharedListeners>
      <add name="DialerLogFileListener" type="DialerCommon.TextToLogFileTraceListener, DialerCommon" LoggingPath=".\" LoggingFileName="DialerIntegrationTests_%datetime%.log" />
    </sharedListeners>

    <sources>
      <source name="System.ServiceModel" switchValue="Warning">
        <listeners>
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

      <source name="IntTestBvTci" switchValue="Verbose">
        <listeners>
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

      <source name="IntTestProTs" switchValue="Verbose">
        <listeners>
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

      <source name="IntTestCodiProTs" switchValue="Verbose">
        <listeners>
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

      <source name="BvTci" switchValue="Verbose">
        <listeners>
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

      <source name="PROTS" switchValue="Verbose">
        <listeners>
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

      <source name="DialerLib" switchValue="Verbose">
        <listeners>
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

      <source name="DialerService" switchValue="Verbose">
        <listeners>
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

      <source name="RecordingUrlService" switchValue="Verbose">
        <listeners>
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

      <source name="Socket__IO" switchValue="Verbose">
        <listeners>
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

      <source name="Socket__Lib" switchValue="Verbose">
        <listeners>
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

      <source name="BvTciWS" switchValue="Verbose">
        <listeners>
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

      <source name="PROTSWS" switchValue="Verbose">
        <listeners>
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

    </sources>

    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="DialerLogFileListener" />
      </listeners>
    </trace>
  </system.diagnostics>

  <system.serviceModel>
    <client>
      <endpoint name="BvTciDialerServiceEndpoint" address="http://TheAddressIsDefinedInTheCode" binding="basicHttpBinding" contract="BvTciDialerService.ServiceLibrary.Contract.IBvTciDialer" />

      <endpoint name="PROTSDialerServiceEndpoint" address="http://TheAddressIsDefinedInTheCode" binding="basicHttpBinding" contract="Confirmit.CATI.Telephony.PROTSDialerService.IPROTSDialerService" />

      <endpoint name="DialerServiceEndpoint" address="http://TheAddressIsDefinedInTheCode" binding="basicHttpBinding" contract="Confirmit.CATI.Telephony.DialerService.Contract.IDialerService" />

      <endpoint name="DialerEventsHandlerServiceEndpoint" address="http://localhost/Temporary_Listen_Addresses/TestEventsHandlerService" binding="basicHttpBinding" contract="Confirmit.CATI.Telephony.DialerCommon.IDialerEventsHandlerService" />
    </client>

    <services>
      <service name="BvTciDialerService.ServiceLibrary.BvTciDialer">
        <endpoint address="" binding="basicHttpBinding" contract="BvTciDialerService.ServiceLibrary.Contract.IBvTciDialer" />
      </service>
      
      <service name="DialerIntegrationTests.Framework.TestDialerEventsHandlerService">
        <endpoint address="" binding="basicHttpBinding" contract="Confirmit.CATI.Telephony.DialerCommon.IDialerEventsHandlerService" />
      </service>
      
      <service name="Confirmit.CATI.Telephony.PROTSDialerService.PROTSDialerService">
        <endpoint address="" binding="basicHttpBinding" contract="Confirmit.CATI.Telephony.PROTSDialerService.IPROTSDialerService" />
      </service>
      
      <service name="Confirmit.CATI.Telephony.DialerService.DialerService">
        <endpoint address="" binding="basicHttpBinding" contract="Confirmit.CATI.Telephony.DialerService.Contract.IDialerService" />
      </service>
    </services>

    <!--<diagnostics>
      <messageLogging
        logEntireMessage="true"
        logKnownPii="true"
        logMalformedMessages="true"
        logMessagesAtServiceLevel="true"
        logMessagesAtTransportLevel="true"
        maxMessagesToLog="3000"
        maxSizeOfMessageToLog="2000" />
      <endToEndTracing propagateActivity="true" messageFlowTracing="true" />
    </diagnostics>-->

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.0.0" newVersion="6.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.0.0" newVersion="6.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.0.0" newVersion="6.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Rest.ClientRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
