<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DialerCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Confirmit.CATI.Telephony.DialerService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings />

  <applicationSettings>
    <DialerCommon.Properties.Settings>
      <setting name="MonitorRoot" serializeAs="String">
        <value>C:\Interviews</value>
      </setting>
      <setting name="UrlRoot" serializeAs="String">
        <value>http://localhost/Interviews/</value>
      </setting>
      <setting name="FileNamePattern" serializeAs="String">
        <value>{0:D10}*.wav</value>
      </setting>
      <setting name="LogHealthCheckPeriodInMinutes" serializeAs="String">
        <value>30</value>
      </setting>
    </DialerCommon.Properties.Settings>

    <Confirmit.CATI.Telephony.DialerService.Settings>
      <setting name="DialerDriverAssemblyName" serializeAs="String">
        <value>SimulatorDialerDriver</value>
      </setting>
      <setting name="DialerDriverAssemblyNamespace" serializeAs="String">
        <value>Confirmit.CATI.Telephony.SimulatorDialerDriver</value>
      </setting>
      <setting name="DialerDriverAssemblyMainClassName" serializeAs="String">
        <value>SimulatorDialerDriver</value>
      </setting>
      <setting name="ServiceStateExpirationTimeout" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="AuthorizationKeyForIncomingRequests" serializeAs="String">
        <value>Gfkr31ZZ7jyuUDoM+OQ0cHvaz88fqJoy9zoxdoRJjr7FVRYjWYtVX/C/afumpTX8erM0d5cQZPEtQ9khe/sbOUW8lSyswcJLkqzXkCbKy5mFMxJhTMhEcgE286I=</value>
      </setting>
      <setting name="UseAuthorization" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DialerId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StatefulMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowedAgentStates" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>LoggedIn</string>
            <string>LoggedOut</string>
            <string>NotReady</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UseErrorReporting" serializeAs="String">
        <value>True</value>
      </setting>
    </Confirmit.CATI.Telephony.DialerService.Settings>
  </applicationSettings>
  <connectionStrings />
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6.2" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="DialerService.svc" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <system.serviceModel>

    <diagnostics performanceCounters="All" />
    <serviceHostingEnvironment multipleSiteBindingsEnabled="True" minFreeMemoryPercentageToActivateService="0" />

    <extensions>
      <bindingElementExtensions>
        <add name="cookieManager" type="Confirmit.CATI.Common.WcfTools.CookieManager.CookieManagerElement, Confirmit.CATI.Common" />
      </bindingElementExtensions>
    </extensions>
    
    <bindings>
      <customBinding>
        <binding name="DialerEventsHandlerServiceBinding">
          <mtomMessageEncoding />
          <httpsTransport keepAliveEnabled="False" />
        </binding>

        <binding name="ErrorReportingServiceBinding">
          <mtomMessageEncoding maxBufferSize="3145728">
            <readerQuotas maxArrayLength="3145728" maxStringContentLength="3145728" />
          </mtomMessageEncoding>
          <httpsTransport keepAliveEnabled="False" maxReceivedMessageSize="3145728" maxBufferSize="3145728" />
        </binding>
      </customBinding>

      <wsHttpBinding>
        <binding name="Service_WsHttpBinding_NoSecurity" maxReceivedMessageSize="2147483647">
          <reliableSession enabled="False" />
          <readerQuotas maxArrayLength="5242880" maxStringContentLength="5242880" />
          <security mode="None" />
        </binding>

        <binding name="Service_WsHttpBinding_TransportSecurity" messageEncoding="Mtom" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="5242880" maxStringContentLength="5242880" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>

      <basicHttpBinding>
        <binding name="InternalService_BasicHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="5242880" maxArrayLength="2147483647" maxDepth="128" />
        </binding>
      </basicHttpBinding>
      
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="DialerServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="4096" maxConcurrentSessions="4096" maxConcurrentInstances="4096" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <client>
      <endpoint name="DialerEventsHandlerServiceEndpoint" address="https://localhost/DialerMultimodeInstance" binding="customBinding" bindingConfiguration="DialerEventsHandlerServiceBinding" contract="Confirmit.CATI.Telephony.DialerCommon.IDialerEventsHandlerService" />
      <endpoint name="ErrorReportingServiceEndpoint" address="https://localhost/ErrorReportingMultimodeInstance" binding="customBinding" bindingConfiguration="ErrorReportingServiceBinding" contract="Confirmit.CATI.Common.Contracts.ErrorReportingService.IErrorReportingService" />

      <endpoint
              name="DialerEventsHandlerServiceInternal"
              address="http://cati-backend-_companyid_/DialerMultimodeInstanceHttp"
              binding="basicHttpBinding"
              bindingConfiguration="InternalService_BasicHttpBinding"
              contract="Confirmit.CATI.Telephony.DialerCommon.IDialerEventsHandlerService" />
      <endpoint
              name="ErrorReportingServiceInternal"
              address="http://cati-backend-master/ErrorReportingMultimodeInstanceHttp"
              binding="basicHttpBinding"
              bindingConfiguration="InternalService_BasicHttpBinding"
              contract="Confirmit.CATI.Common.Contracts.ErrorReportingService.IErrorReportingService" />
    </client>

    <services>
      <service name="Confirmit.CATI.Telephony.DialerService.DialerService" behaviorConfiguration="DialerServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Service_WsHttpBinding_NoSecurity" contract="Confirmit.CATI.Telephony.DialerService.Contract.IDialerService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>

  <system.diagnostics>
    <switches>
      <!-- Note: You can turn tracing to file off by setting DialerCommunicationSwitch value to "Off"-->
      <add name="DialerCommunicationSwitch" value="Verbose" />
    </switches>

    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <remove name="Default" />
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

      <source name="DialerService" switchName="DialerCommunicationSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default" />
          <add name="DialerLogFileListener" />
        </listeners>
      </source>

      <source name="RecordingUrlService" switchName="DialerCommunicationSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default" />
          <add name="DialerLogFileListener" />
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="DialerLogFileListener" type="DialerCommon.TextToLogFileTraceListener, DialerCommon" LoggingPath="c:\DialerLogs\" LoggingFileName="DialerWS_%datetime%.log" FileSizeLimit="100" />
    </sharedListeners>

    <trace autoflush="true" indentsize="2">
      <listeners>
        <remove name="Default" />
        <add name="DialerLogFileListener" />
      </listeners>
    </trace>
  </system.diagnostics>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="4096" />
    </connectionManagement>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.FileSystems" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
