<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Connect" version="3.7.417.2" targetFramework="net48" />
  <package id="AWSSDK.Core" version="3.7.401.6" targetFramework="net48" />
  <package id="AWSSDK.SQS" version="3.7.400.86" targetFramework="net48" />
  <package id="Aws4RequestSigner" version="1.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.8" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.8" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Cors" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.FileSystems" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.StaticFiles" version="4.2.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="StackExchange.Redis.StrongName" version="1.2.6" targetFramework="net48" />
</packages>