<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="CatiServerAddress" value="http://localhost/"/>
    <add key="WsServerAddress" value="http://localhost/"/>
    <add key="UserName" value="administrator"/>
    <add key="Password" value="administrator"/>
    <!--
    <add key="CatiServerAddress" value="http://cati.testlab.firmglobal.net/" />
    <add key="WsServerAddress" value="ws.testlab.firmglobal.net/" />
    <add key="UserName" value="AnnaK"/>
    <add key="Password" value="Password123$"/>
    -->
    <add key="ProxyServerAddress" value=""/>
    <add key="CompanyId" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LogOnSoap"/>
        <binding name="BasicHttpBinding_supervisorService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/confirmit/webservices/18.0/logon.asmx" binding="basicHttpBinding" bindingConfiguration="LogOnSoap" contract="LogOn.LogOnSoap" name="LogOnSoap"/>
      <endpoint address="http://localhost/Rel/SupervisorMultimodeInstance1" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_supervisorService" contract="SupervisorService.supervisorService" name="BasicHttpBinding_supervisorService"/>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
