<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <!--  <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:4444/WcfTestService/x" />
                    <serviceDebug httpHelpPageUrl="http://localhost:4444/WcfTestService/x"
                        httpsHelpPageEnabled="false" includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior" name="WcfServiceLibrary.WcfTestService">
                <endpoint address="urn:test" binding="wsHttpBinding" bindingConfiguration=""
                    contract="WcfServiceLibrary.IWcfTestService" listenUri="http://localhost:4444/WcfTestService/x" />
                <endpoint address="urn:test:mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" listenUri="http://localhost:4444/WcfTestService/x/mex" />
                <host>
                    <baseAddresses>
                        <add baseAddress="httpx://localhost:4444/WcfTestService/test" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings />
        <client />
        -->
    </system.serviceModel>
</configuration>