<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DialersConfiguration" type="System.Configuration.ClientSettingsSection, Confirmit.CATI.Backend" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Confirmit.SystemTestFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="confirmitSettings">
      <section name="SQLParameters" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Identity.AccessTokenValidation" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Identity.Sdk" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Rest.Client" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Logging" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="confirmit.common" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Configuration.Bootstrap" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confirmit.Configuration" publicKeyToken="8134450e5a05c0c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-26.0.0.0" newVersion="26.0.0.0" />
      </dependentAssembly>
	  <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <machineKey validation="SHA1" validationKey="DFD06FF3058574D6A2E7B592E33A80EDE007E596EE8A1754CC68ECE5B44EA9A8A7ABC3C53F0EA8BD90B26AE301977609F142578EF3EB1E05A592C92F354E3341" decryptionKey="FFEE834B2BB87C08D5CA27C65E0F2512B8EC3F0F3DAE0AFB" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="InternalService_BasicHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="16777216">
          <readerQuotas maxStringContentLength="5242880" maxArrayLength="2147483647" />
        </binding>
        <binding name="LogOnSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="DialerEventsHandlerServiceBinding">
          <mtomMessageEncoding />
          <httpsTransport keepAliveEnabled="False" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint name="SupervisorServiceEndpoint" address="http://cati.build.testlab.firmglobal.net/SupervisorMultimodeInstance" binding="basicHttpBinding" bindingConfiguration="InternalService_BasicHttpBinding" contract="Confirmit.CATI.Core.SupervisorService.ISupervisorService"/>
      <endpoint address="http://author-cati.build.testlab.firmglobal.net/Confirmit/WebServices/18.0/LogOn.asmx" binding="basicHttpBinding" bindingConfiguration="LogOnSoap" contract="LogOn.LogOnSoap" name="LogOnSoap" />
      <endpoint name="DialerEventsHandlerServiceEndpoint" address="https://cati.build.testlab.firmglobal.net/DialerMultimodeInstance" binding="customBinding" bindingConfiguration="DialerEventsHandlerServiceBinding" contract="Confirmit.CATI.Telephony.DialerCommon.IDialerEventsHandlerService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="Logging.Level" value="Info" />
    <add key="Logging.Path" value="c:\confirmit_testlogs" />
    <add key="Logging.MultiProcessLogging" value="True" />
  </appSettings>
  <applicationSettings>
    <Confirmit.SystemTestFramework.Properties.Settings>
      <setting name="Confirmit_SystemTestFramework_SurveyDeployer_SurveyDeployer"
               serializeAs="String">
        <value>http://author-cati.build.testlab.firmglobal.net/confirmit/webservices/current/surveydeployer.asmx</value>
      </setting>
      <setting name="Confirmit_SystemTestFramework_SurveyData_SurveyData"
               serializeAs="String">
        <value>http://author-cati.build.testlab.firmglobal.net/confirmit/webservices/current/surveydata.asmx</value>
      </setting>
      <setting name="Confirmit_SystemTestFramework_Authoring_Authoring"
               serializeAs="String">
        <value>http://author-cati.build.testlab.firmglobal.net/confirmit/webservices/current/Authoring.asmx</value>
      </setting>
      <setting name="CatiConnectionString" serializeAs="String">
        <value>Persist Security Info=False;User ID=ConfirmitDeploy;Password=%1confdep;Initial Catalog=ConfirmitCATIV15;Server=co-osl-tenta203\CATI</value>
      </setting>
      <setting name="ConfirmConnectionString" serializeAs="String">
        <value>Persist Security Info=False;User ID=ConfirmitDeploy;Password=%1confdep;Initial Catalog=confirm;Server=co-osl-tenta197</value>
      </setting>
      <setting name="CompanyId" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CatiServerAddress" serializeAs="String">
        <value>http://cati.build.testlab.firmglobal.net/</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value>cati_test</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>test_cati01</value>
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value>CATI Company</value>
      </setting>
    </Confirmit.SystemTestFramework.Properties.Settings>
  </applicationSettings>
  <confirmitSettings>
    <SQLParameters>
      <add key="applicationName" value="Confirmit.Cati.SystemTests" />
    </SQLParameters>
  </confirmitSettings>
</configuration>