<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Confirmit.CATI.Telephony.DialerService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <Confirmit.CATI.Telephony.DialerService.Settings>
      <setting name="DialerDriverAssemblyName" serializeAs="String">
        <value>NotDefined</value>
      </setting>
      <setting name="DialerDriverAssemblyNamespace" serializeAs="String">
        <value>NotDefined</value>
      </setting>
      <setting name="DialerDriverAssemblyMainClassName" serializeAs="String">
        <value>NotDefined</value>
      </setting>
      <setting name="ServiceStateExpirationTimeout" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="AuthorizationKeyForIncomingRequests" serializeAs="String">
        <value>Gfkr31ZZ7jyuUDoM+OQ0cHvaz88fqJoy9zoxdoRJjr7FVRYjWYtVX/C/afumpTX8erM0d5cQZPEtQ9khe/sbOUW8lSyswcJLkqzXkCbKy5mFMxJhTMhEcgE286I=</value>
      </setting>
      <setting name="UseAuthorization" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DialerId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StatefulMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SupervisorResourceBindingType" serializeAs="String">
        <value>NotDefined</value>
      </setting>
      <setting name="AllowedAgentStates" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>LoggedIn</string>
            <string>LoggedOut</string>
            <string>NotReady</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SecurityProtocols" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
    </Confirmit.CATI.Telephony.DialerService.Settings>
  </applicationSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
