<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LogOnSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Confirmit/WebServices/18.0/LogOn.asmx" binding="basicHttpBinding" bindingConfiguration="LogOnSoap" contract="LogOn.LogOnSoap" name="LogOnSoap" />
    </client>
  </system.serviceModel>
</configuration>