**
!code/
**/.vs/
**/bin/
**/obj/
**/TestResults/
**/confirmit_logs/
**/*.csproj.user
**/appsettings.Development.json
**/*.nupkg
**/*.zip
!**/Confirmit.CATI.DatabaseUpdateLibraryCore/scripts.zip
**/*.tgz
!NuGet.config
