<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Confirmit.CATI.Telephony.CommonDialerAPI.DialerEventsTestWcfService.DialerEventsHandlerTestService"
               behaviorConfiguration="DialerEventsHandlerTestServiceBehaviors">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/DialerEventsTestHandler" />
          </baseAddresses>
        </host>

        <endpoint address=""
                  contract="Confirmit.CATI.Backend.WcfServices.External.DialerEventsHandlerService.IDialerEventsHandlerService"
                  binding="wsHttpBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->

        <!--<endpoint
                  contract="IMetadataExchange"
                  binding="mexHttpBinding"
                  address="mex" />-->
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsBinding" />
      </wsHttpBinding>

      <basicHttpBinding>
        <binding name="basicBinding" />
      </basicHttpBinding>
  </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="DialerEventsHandlerTestServiceBehaviors" >
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>


    <client>
      <endpoint
      name="DialerEventsHandlerTestServiceEndpoint"
      address="http://localhost/DialerEventsTestHandler"
      binding="wsHttpBinding"
      contract="Confirmit.CATI.Backend.WcfServices.External.DialerEventsHandlerService.IDialerEventsHandlerService" >
      </endpoint>
    </client>

  </system.serviceModel>
</configuration>