<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <configSections xdt:Transform="InsertIfMissing">
    <sectionGroup name="confirmitSettings" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)">
      <section name="SQLParameters" type="System.Configuration.NameValueSectionHandler,system, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" xdt:Transform="InsertIfMissing"/>
    </sectionGroup>
  </configSections>
  <confirmitSettings xdt:Transform="InsertIfMissing">
    <SQLParameters xdt:Transform="InsertIfMissing">
      <add key="applicationName" value="Confirmit.CATI.Dialer.AWSConnect" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)"/>
    </SQLParameters>
  </confirmitSettings>
  <applicationSettings>
    <Confirmit.CATI.Telephony.DialerService.Settings xdt:Transform="InsertIfMissing">
      <setting name="DialerDriverAssemblyName" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">AwsConnectDialerWS</value>
      </setting>
      <setting name="DialerDriverAssemblyNamespace" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">Confirmit.CATI.Telephony.AwsConnectDialerWS</value>
      </setting>
      <setting name="DialerDriverAssemblyMainClassName" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">AwsConnectDialerWs</value>
      </setting>
    </Confirmit.CATI.Telephony.DialerService.Settings> 
  </applicationSettings>    
  <appSettings xdt:Transform="InsertIfMissing">
    <add key="Logging.Level" value="Info" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)"/>
    <add key="Logging.Level" value="Info" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <secureAppSettings>
    <add key="CustomGrant.ClientSecret" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="Introspection.ClientSecret" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="TrustedSubsystem.ClientSecret" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="ServiceClient.ClientSecret" xdt:Transform="Remove" xdt:Locator="Match(key)" />
  </secureAppSettings>
  <system.diagnostics>
    <sources>
      <source>
        <listeners>
          <add name="EventLogTraceListener" xdt:Transform="RemoveAll" xdt:Locator="Match(name)" />
        </listeners>
      </source>
    </sources>
      <sharedListeners>
        <add name="EventLogTraceListener" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <add name="DialerLogFileListener" type="DialerCommon.TextToLogFileTraceListener, DialerCommon" LoggingPath="c:\AWSDialerLogs\" LoggingFileName="AWSDialer_%datetime%.log" FileSizeLimit="100" xdt:Transform="Replace" xdt:Locator="Match(name)" />            
      </sharedListeners>
    </system.diagnostics>
</configuration>