<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings xdt:Transform="InsertIfMissing">
        <add key="Logging.Level" value="Info" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)"/>
        <add key="Logging.Level" value="Info" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    </appSettings>
    <secureAppSettings>
        <add key="CustomGrant.ClientSecret" xdt:Transform="Remove" xdt:Locator="Match(key)" />
        <add key="Introspection.ClientSecret" xdt:Transform="Remove" xdt:Locator="Match(key)" />
        <add key="TrustedSubsystem.ClientSecret" xdt:Transform="Remove" xdt:Locator="Match(key)" />
        <add key="ServiceClient.ClientSecret" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    </secureAppSettings>

    <applicationSettings>
        <Confirmit.CATI.Backend.Properties.Settings xdt:Transform="Replace">
            <!--
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
              //    WCF External Services Base Addresses Configuration when SSL Accelerator is Installed.
              //    In that case we always receive HTTP.
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            -->
            <setting name="DialerEventsHandlerServiceBaseAddress" serializeAs="String">
              <value>http://localhost/DialerMultimodeInstance</value>
            </setting>
            <setting name="ErrorReportingServiceBaseAddress" serializeAs="String">
              <value>http://localhost/ErrorReportingMultimodeInstance</value>
            </setting>
            <setting name="AreMetricsEnabled" serializeAs="String">
              <value>True</value>
            </setting>
            <setting name="MetricsUrl" serializeAs="String">
              <value>http://*:9866</value>
            </setting>
            <!--
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
              //    WCF Internal Services and ConsoleStateService Base Addresses Configuration. Not depends on SSL Accelerator.
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            -->
            <setting name="InstanceManagementServiceBaseAddress" serializeAs="String">
                <value>http://localhost/ManagementMultimodeInstance</value>
            </setting>
            <setting name="ManagementServiceBaseAddress" serializeAs="String">
                <value>http://localhost/ManagementMultimodeInstance</value>
            </setting>
            <setting name="SupervisorServiceBaseAddress" serializeAs="String">
                <value>http://localhost/SupervisorMultimodeInstance</value>
            </setting>
        </Confirmit.CATI.Backend.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <services xdt:Transform="Replace">
            <!--
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
              // WCF External Services Configuration when SSL Accelerator is INSTALLED.
              // In that case we always receive HTTP and must use custom transport and custom binding aka PseudoHttpsBinding.
              //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            -->
      
            <service
              name="Confirmit.CATI.Backend.WcfServices.External.DialerEventsHandlerService.DialerEventsHandlerService"
              behaviorConfiguration="ServiceBehavior_WithExceptionDetails">
              <endpoint
                address=""
                binding="customBinding"
                bindingConfiguration="ExternalCatiService_PseudoHttpsBinding_NoSecurity"
                contract="Confirmit.CATI.Telephony.DialerCommon.IDialerEventsHandlerService" >
              </endpoint>
            </service>
            
            <service
              name="Confirmit.CATI.Backend.WcfServices.External.ErrorReportingService.ErrorReportingService"
              behaviorConfiguration="ServiceBehavior_WithoutExceptionDetails">
              <endpoint
                address=""
                binding="customBinding"
                bindingConfiguration="ExternalCatiService_PseudoHttpsBinding_NoSecurity"
                contract="Confirmit.CATI.Common.Contracts.ErrorReportingService.IErrorReportingService" >
              </endpoint>
            </service>
          
            <!--
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            //          WCF Internal Services Configuration. Not depend on SSL Accelerator.
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            -->
            <service name="Confirmit.CATI.Backend.WcfServices.Internal.InstanceManagementService.InstanceManagementService" behaviorConfiguration="ServiceBehavior_WithExceptionDetails">
                <endpoint address="" binding="basicHttpBinding" contract="Confirmit.CATI.Core.ManagementService.IInstanceManagementService">
                </endpoint>
            </service>
            <service name="Confirmit.CATI.Backend.WcfServices.Internal.ManagementService.ManagementService" behaviorConfiguration="ServiceBehavior_WithExceptionDetails">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="InternalService_BasicHttpBinding" contract="Confirmit.CATI.Core.ManagementService.IManagementService">
                </endpoint>
            </service>
            <service name="Confirmit.CATI.Backend.WcfServices.Internal.SupervisorService.SupervisorService" behaviorConfiguration="ServiceBehavior_WithExceptionDetails">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="InternalService_BasicHttpBinding" contract="Confirmit.CATI.Core.SupervisorService.ISupervisorService">
                </endpoint>
            </service>
        </services>
    </system.serviceModel>
</configuration>