<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="DlgThreadingParams" Width="370" Height="270" Title="!(loc.ThreadingParams_Title)">
                <Control Id="ThreadingOptions" Type="RadioButtonGroup" X="25" Y="50" Width="200" Height="45" Property="MACHINE_CONFIG_CHANGING">
                    <RadioButtonGroup Property="MACHINE_CONFIG_CHANGING">
                        <RadioButton Value="DoNotChange" X="0" Y="0" Width="260" Height="16" Text="!(loc.ThreadingParamsDoNotSetParams)" />
                        <RadioButton Value="SetAutoConfigTrue" X="0" Y="15" Width="260" Height="16" Text="!(loc.ThreadingParamsSetDefaultSettings)" />
                        <RadioButton Value="SetCustomSettings" X="0" Y="30" Width="260" Height="16" Text="!(loc.ThreadingParamsSetCustomSettings)" />
                    </RadioButtonGroup>
                </Control>
                <Control Id="ProcessModelParamsText" Type="Text" Width="190" Height="12" X="45" Y="100" Text="!(loc.ThreadingParamsProcessModelParams)">
                    <Condition Action="enable">MACHINE_CONFIG_CHANGING~="SetCustomSettings"</Condition>
                    <Condition Action="disable"><![CDATA[MACHINE_CONFIG_CHANGING<>"SetCustomSettings"]]></Condition>
                </Control>
                <Control Id="MinWorkerThreadsText" Type="Text" Width="100" Height="20" X="65" Y="117" Text="!(loc.ThreadingParamsMinWorkerThreads)[MIN_WORKET_THREADS_CURRENT_VALUE_LABEL]">
                    <Condition Action="enable">MACHINE_CONFIG_CHANGING~="SetCustomSettings"</Condition>
                    <Condition Action="disable"><![CDATA[MACHINE_CONFIG_CHANGING<>"SetCustomSettings"]]></Condition>
                </Control>
                <Control Id="MinWorkerThreadsEdit" Type="Edit" Width="30" Height="15" X="170" Y="120" Property="MIN_WORKER_THREADS">
                    <Condition Action="enable">MACHINE_CONFIG_CHANGING~="SetCustomSettings"</Condition>
                    <Condition Action="disable"><![CDATA[MACHINE_CONFIG_CHANGING<>"SetCustomSettings"]]></Condition>
                </Control>
                <Control Id="MinIoThreadsText" Type="Text" Width="100" Height="20" X="225" Y="117" Text="!(loc.ThreadingParamsMinIoThreads)[MIN_IO_THREADS_CURRENT_VALUE_LABEL]">
                    <Condition Action="enable">MACHINE_CONFIG_CHANGING~="SetCustomSettings"</Condition>
                    <Condition Action="disable"><![CDATA[MACHINE_CONFIG_CHANGING<>"SetCustomSettings"]]></Condition>
                </Control>
                <Control Id="MinIoThreadsEdit" Type="Edit" Width="30" Height="15" X="330" Y="120" Property="MIN_IO_THREADS">
                    <Condition Action="enable">MACHINE_CONFIG_CHANGING~="SetCustomSettings"</Condition>
                    <Condition Action="disable"><![CDATA[MACHINE_CONFIG_CHANGING<>"SetCustomSettings"]]></Condition>
                </Control>
                <Control Id="MaxWorkerThreadsText" Type="Text" Width="100" Height="20" X="65" Y="148" Text="!(loc.ThreadingParamsMaxWorkerThreads)[MAX_WORKER_THREADS_CURRENT_VALUE_LABEL]">
                    <Condition Action="enable">MACHINE_CONFIG_CHANGING~="SetCustomSettings"</Condition>
                    <Condition Action="disable"><![CDATA[MACHINE_CONFIG_CHANGING<>"SetCustomSettings"]]></Condition>
                </Control>
                <Control Id="MaxWorkerThreadsEdit" Type="Edit" Width="30" Height="15" X="170" Y="150" Property="MAX_WORKER_THREADS">
                    <Condition Action="enable">MACHINE_CONFIG_CHANGING~="SetCustomSettings"</Condition>
                    <Condition Action="disable"><![CDATA[MACHINE_CONFIG_CHANGING<>"SetCustomSettings"]]></Condition>
                </Control>
                <Control Id="MaxIoThreadsText" Type="Text" Width="100" Height="20" X="225" Y="148" Text="!(loc.ThreadingParamsMaxIoThreads)[MAX_IO_THREADS_CURRENT_VALUE_LABEL]">
                    <Condition Action="enable">MACHINE_CONFIG_CHANGING~="SetCustomSettings"</Condition>
                    <Condition Action="disable"><![CDATA[MACHINE_CONFIG_CHANGING<>"SetCustomSettings"]]></Condition>
                </Control>
                <Control Id="MaxIoThreadsEdit" Type="Edit" Width="30" Height="15" X="330" Y="150" Property="MAX_IO_THREADS">
                    <Condition Action="enable">MACHINE_CONFIG_CHANGING~="SetCustomSettings"</Condition>
                    <Condition Action="disable"><![CDATA[MACHINE_CONFIG_CHANGING<>"SetCustomSettings"]]></Condition>
                </Control>
                <Control Id="HttpRuntimeParamsText" Type="Text" Width="300" Height="12" X="45" Y="180" Text="!(loc.ThreadingParamsHttpRuntimeParams)">
                    <Condition Action="enable">MACHINE_CONFIG_CHANGING~="SetCustomSettings"</Condition>
                    <Condition Action="disable"><![CDATA[MACHINE_CONFIG_CHANGING<>"SetCustomSettings"]]></Condition>
                </Control>
                <Control Id="MinFreeThreadsText" Type="Text" Width="100" Height="20" X="65" Y="198" Text="!(loc.ThreadingParamsMinFreeThreads)[MIN_FREE_THREADS_CURRENT_VALUE_LABEL]">
                    <Condition Action="enable">MACHINE_CONFIG_CHANGING~="SetCustomSettings"</Condition>
                    <Condition Action="disable"><![CDATA[MACHINE_CONFIG_CHANGING<>"SetCustomSettings"]]></Condition>
                </Control>
                <Control Id="MinFreeThreadsEdit" Type="Edit" Width="30" Height="15" X="170" Y="200" Property="MIN_FREE_THREADS">
                    <Condition Action="enable">MACHINE_CONFIG_CHANGING~="SetCustomSettings"</Condition>
                    <Condition Action="disable"><![CDATA[MACHINE_CONFIG_CHANGING<>"SetCustomSettings"]]></Condition>
                </Control>
                <Control Id="MinLocalRequestFreeThreadsText" Type="Text" Width="100" Height="30" X="225" Y="193" Text="!(loc.ThreadingParamsMinLocalRequestFreeThreads)[MIN_LOCAL_REQUEST_FREE_THREADS_CURRENT_VALUE_LABEL]">
                    <Condition Action="enable">MACHINE_CONFIG_CHANGING~="SetCustomSettings"</Condition>
                    <Condition Action="disable"><![CDATA[MACHINE_CONFIG_CHANGING<>"SetCustomSettings"]]></Condition>
                </Control>
                <Control Id="MinLocalRequestFreeThreadsEdit" Type="Edit" Width="30" Height="15" X="330" Y="200" Property="MIN_LOCAL_REQUEST_FREE_THREADS">
                    <Condition Action="enable">MACHINE_CONFIG_CHANGING~="SetCustomSettings"</Condition>
                    <Condition Action="disable"><![CDATA[MACHINE_CONFIG_CHANGING<>"SetCustomSettings"]]></Condition>
                </Control>
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.ThreadingParamsBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="2" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ThreadingParamsDescription)" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="297" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ThreadingParams_Title)" />
            </Dialog>
        </UI>
    </Fragment>
</Wix>