.igdv_Control
{
	border:solid 1px Silver;
}


.igdv_CaptionHeader
{
	background-color:#f0f2f5;
	height: 25px;
	text-align:center;
}


.igdv_DayHeader
{
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	border:solid 1px #F4F4F4;
	border-right-color:#999999;
	padding-left:2px;
	height: 15px;
	white-space: nowrap;
	color:Black;
	text-align:center;
	vertical-align:middle;
}


.igdv_NonWorkingTimeSlot
{
	background-color:Gainsboro;
	border-right:solid 1px Silver;
	border-bottom:solid 1px Silver;
	height: 15px;
}


.igdv_WorkingTimeSlot
{
	background-color:White;
	border-right:solid 1px Silver;
	border-bottom:solid 1px Silver;
	height: 15px;
}


.igdv_FadedAppointment
{
}


.igdv_Resource
{
}


.igdv_ResourceButton
{
}


.igdv_ResourceButtonActive
{
}


.igdv_AllDayEventArea
{
	background-color:#FAFAFA;
}


.igdv_AllDayEvent
{
	background-color:WhiteSmoke;
	font-size:8pt;
	font-family: Tahoma,Verdana;
	border-width:1px;
	border-color:Silver;
	padding-left:3px;
	height: 25px;
	white-space: nowrap;
	text-align:center;
}


.igdv_Appointment
{
	background-color:Silver;
	font-size:8pt;
	font-family: Tahoma,Verdana;
	border:solid 1px #999999;
	line-height: 12px;
}


.igdv_ActivityEdge
{
	font-size:1px;
	height: 4px;
	cursor:n-resize;
}


.igdv_ActivityEdgeLeft
{
	font-size:2px;
	width: 6px;
	cursor:move;
}


.igdv_MultiDayEventArrowLeft
{
}


.igdv_MultiDayEventArrowRight
{
}


.igdv_TodayHeader
{
	background-color:Gainsboro;
	background-repeat:repeat-x;
	border-width:0px;
	height: 17px;
	color:Black;
}


.igdv_TimeSlotLabel
{
	font-size:16pt;
	font-family: Arial, Helvetica, sans-serif;
	border-right:solid 1px Silver;
	border-bottom:solid 1px Silver;
	width: 60px;
	text-align:center;
	vertical-align:top;
}


.igdv_TimeSlotLabelMinutes
{
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
}


.igdv_AllDayEventSelected
{
	background-color:#D0D0D0;
	border-top-width:2px;
	border-bottom-width:2px;
}


.igdv_AllDayEventAreaSelected
{
	background-color:White;
}


.igdv_ActivityHover
{
	z-index: 10000;
}


.igdv_ActivityEdgeBusy
{
	background-color:#E6EDF7;
}


.igdv_ActivityEdgeTentative
{
	background-color:#90C0FF;
}


.igdv_ActivityEdgeOutofOffice
{
	background-color:#900090;
}


.igdv_ActivityEdgeFree
{
	background-color:#F0F0F0;
}


.igdv_NavigationButton
{
	background-color:Transparent;
	border-width:0px;
	width: 17px;
	vertical-align:middle;
}


.igdv_SelectedAppointment
{
	z-index: 9999;
}


