<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DialerCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Confirmit.CATI.Telephony.DialerService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SimulatorDialerDriver.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings/>

  <applicationSettings>
    <DialerCommon.Properties.Settings>
      <setting name="MonitorRoot" serializeAs="String">
        <value>C:\Interviews</value>
      </setting>
      <setting name="UrlRoot" serializeAs="String">
        <value>http://localhost/Interviews/</value>
      </setting>
      <setting name="FileNamePattern" serializeAs="String">
        <value>{0:D10}*.wav</value>
      </setting>
      <setting name="LogHealthCheckPeriodInMinutes" serializeAs="String">
        <value>30</value>
      </setting>
    </DialerCommon.Properties.Settings>

    <Confirmit.CATI.Telephony.DialerService.Settings>
      <setting name="DialerDriverAssemblyName" serializeAs="String">
        <value>SimulatorDialerDriver</value>
      </setting>
      <setting name="DialerDriverAssemblyNamespace" serializeAs="String">
        <value>Confirmit.CATI.Telephony.SimulatorDialerDriver</value>
      </setting>
      <setting name="DialerDriverAssemblyMainClassName" serializeAs="String">
        <value>SimulatorDialerDriver</value>
      </setting>
      <setting name="ServiceStateExpirationTimeout" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="AuthorizationKeyForIncomingRequests" serializeAs="String">
        <value>z+r5tusLjpa8AtxXzSCEbdNtA/24KRkFoMu2Cn6NIj7v5xhQoGeJFK95g+deLLSl+YMf83IPfbfyOyq6daUtc023zb2gWxszraiw1kt2+A4e6VJhK5usl9P2bfE=</value>
      </setting>
      <setting name="UseAuthorization" serializeAs="String">
        <value>False</value>
      </setting>
    </Confirmit.CATI.Telephony.DialerService.Settings>

    <SimulatorDialerDriver.Settings>
      <setting name="ScenarioXmlFileName" serializeAs="String">
          <value>SimulatorScenario.xml</value>
      </setting>
      <setting name="StatefulMode" serializeAs="String">
          <value>False</value>
      </setting>
    </SimulatorDialerDriver.Settings>


  </applicationSettings>
  
  <connectionStrings/>
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="DialerService.svc"/>
      </files>
    </defaultDocument>
  </system.webServer>
  
  <system.serviceModel>
    
    <extensions>
      <bindingElementExtensions>
        <add name="cookieManager" type="Confirmit.CATI.Common.WcfTools.CookieManager.CookieManagerElement, Confirmit.CATI.Common"/>
      </bindingElementExtensions>
    </extensions>
    
    <bindings>
      <customBinding>
        <binding name="DialerEventsHandlerServiceBinding_ReliableSession" sendTimeout="00:03:00">
          <reliableSession/>
          <mtomMessageEncoding/>
          <cookieManager/>
          <httpsTransport/>
        </binding>

        <binding name="Service_CustomBinding_TransportSecurity">
          <mtomMessageEncoding/>
          <httpsTransport keepAliveEnabled="False"/>
        </binding>

        <binding name="DialerEventsHandlerServiceBinding">
          <mtomMessageEncoding/>
          <httpsTransport keepAliveEnabled="False"/>
        </binding>
      </customBinding>

      <wsHttpBinding>
        <binding name="Service_WsHttpBinding_NoSecurity">
          <reliableSession enabled="False"/>
          <readerQuotas maxArrayLength="1048576" maxStringContentLength="1048576"/>
          <security mode="None"/>
        </binding>

        <binding name="Service_WsHttpBinding_TransportSecurity" messageEncoding="Mtom">
          <readerQuotas maxArrayLength="1048576" maxStringContentLength="1048576" />
          <security mode="Transport">
            <transport clientCredentialType="None"/>
            <message establishSecurityContext="false" clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
      
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="DialerServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <client>
      <endpoint
        name="DialerEventsHandlerServiceEndpoint"
        address="https://localhost/DialerMultimodeInstance"
        binding="customBinding"
        bindingConfiguration="DialerEventsHandlerServiceBinding"
        contract="Confirmit.CATI.Telephony.DialerCommon.IDialerEventsHandlerService"
      />
    </client>

    <services>
      <service
        name="Confirmit.CATI.Telephony.DialerService.DialerService"
        behaviorConfiguration="DialerServiceBehavior">

        <endpoint
          address=""
          binding="wsHttpBinding"
          bindingConfiguration="Service_WsHttpBinding_TransportSecurity"
          contract="Confirmit.CATI.Telephony.DialerService.Contract.IDialerService" >
        </endpoint>

        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" >
        </endpoint>

      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    
    <switches>
      <!-- Note: You can turn tracing to file off by setting DialerCommunicationSwitch value to "Off"-->
      <add name="DialerCommunicationSwitch" value="Verbose"/>
    </switches>

    <sources>
      <source name="DialerService"
              switchName="DialerCommunicationSwitch"
              switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <remove name="Default"/>
          <add name="DialerLogFileListener"/>
        </listeners>
      </source>

      <source name="RecordingUrlService" 
              switchName="DialerCommunicationSwitch" 
              switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <remove name="Default"/>
          <add name="DialerLogFileListener"/>
        </listeners>
      </source>

    </sources>

    <sharedListeners>
      <add name="DialerLogFileListener"
           type="DialerCommon.TextToLogFileTraceListener, DialerCommon"
           LoggingPath="c:\DialerLogs\"
           LoggingFileName="DialerWS_%datetime%.log"/>
    </sharedListeners>
  </system.diagnostics>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="12"/>
    </connectionManagement>
  </system.net>
    
</configuration>