<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
	<system.web>
		<machineKey validation="SHA1" validationKey="DFD06FF3058574D6A2E7B592E33A80EDE007E596EE8A1754CC68ECE5B44EA9A8A7ABC3C53F0EA8BD90B26AE301977609F142578EF3EB1E05A592C92F354E3341" decryptionKey="FFEE834B2BB87C08D5CA27C65E0F2512B8EC3F0F3DAE0AFB" />
	</system.web>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="DatabaseCheckUtility.log" />
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="None" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
